.wrapperFill {
  width: 100%;
  padding: 1rem 1rem 1rem 1rem;
  color: $white-color;
  margin-top: 2rem;
  border-radius: 50px;
  text-align: center;

  &.error {
    background-color: $warning;
  }

  &.success {
    background-color: $success;
  }
}

.wrapperNoFill {
  width: 100%;
  padding: 0.8rem 1rem 0.8rem 2rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;

  &.error {
    background-color: $light-error;
    border-left: 6px solid $error;
  }

  &.success {
    background-color: $success;
  }
}
