.wrapper {
  padding: 4rem 0;
}

.resultsCount {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  text-align: center;

  span {
    padding: 1rem 3rem;
    border: 3px solid $primary;
  }
}

.itemsWrapper {
  margin: 3rem 0;
}
