.btn {
  display: inline-block;
  padding: 8px 30px;
  text-decoration: none;
  text-align: center;
  font-size: 1.4rem;
  background-color: $primary;
  border-radius: 50px;
  border: 2px solid $primary;
  font-weight: 500;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.2s ease-in 0s;
  background-color: $primary;

  &:hover {
    background-color: #bea559;
  }

  &Outline {
    background: none;
    color: $primary;

    &:hover {
      color: $white-color;
      background-color: $primary;
    }
  }

  &FullWidth {
    display: block;
    width: 100%;
  }
}
