.wrapper {
  padding: 4rem 0;
}

.backButton {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;
    color: $primary;
    margin-right: 0.4rem;
    transition: transform 0.2s ease-in-out;
  }

  &:hover {
    text-decoration: underline;

    svg {
      position: relative;
      transform: translateX(-3px);
    }
  }
}

.companyName {
  margin-top: 1.8rem;
  margin-bottom: 0.3rem;
  font-size: 2.8rem;
}

.location {
  display: flex;
  align-items: center;

  svg {
    color: $primary;
    margin-right: 0.5rem;
  }
}

.contactInfo {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;

  &Item {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    margin-bottom: 0.5rem;

    &:hover {
      text-decoration: underline;
    }

    svg {
      color: $primary;
      margin-right: 0.5rem;
    }
  }
}

.companyDescription {
  margin-top: 2rem;
}

.imageWrapper {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 250px;
  z-index: 0;

  @include desktop {
    width: 500px;
    height: 350px;
  }
}
