.header {
  min-height: 75vh;
  background: url(../../public/images/home-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;

  @include desktop {
    height: 90vh;
    background-position: center bottom;
  }
}

.popularCategoriesWrapper {
  padding: 6rem 0;
  background-color: $primary-light;

  @include desktop {
    padding: 8rem 0;
  }
}

.subheading {
  position: relative;
  font-size: 2.6rem;

  &:before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 80px;
    height: 3px;
    background-color: $primary;
  }
}

.popularCategoriesItemsWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-top: 6rem;

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.popularCategoryItem {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 300px;
  z-index: 3;
  transform: scale(1);
  transition: transform 0.4s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(54, 54, 54, 0.18), rgba(54, 54, 54, 0.18));
    opacity: 1;
    transition: all 0.4s ease-in-out;
  }

  &:hover {
    transform: scale(0.95);

    &::after {
      opacity: 0;
    }
  }
}

.categoryItemTitle {
  position: relative;
  width: 90%;
  padding: 1rem 3rem;
  color: $white-color;
  font-size: 2.3rem;
  text-align: center;
  text-transform: uppercase;
  border: 3px solid $white-color;
  z-index: 5;
}

.categoryBackground {
  z-index: 0;
}

.sectionBlog {
  padding: 6rem 0;
}
