.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  text-transform: uppercase;
}

.heading {
  padding: 3rem 4rem;
  background: rgba(191, 155, 48, 0.71);
  color: $white-color;
}
