$primary: #bf9b30;
$primary-light: #bf9b3026;
$white-color: #ffffff;
$light-grey: #b9b9b9;
$font-main-color: #494949;
$success: #66bb6a;
$lightSuccess: #e8f5e9;
$error: #e53935;
$warning: #ffa726;
$light-error: #ffcdd2;
